# Create at https://makersuite.google.com/
GOOGLE_AI_KEY = "input your key here"

# Create at https://discord.com/developers/applications
DISCORD_BOT_TOKEN = "input your key here"

# !img command enabled (true or false)
IMG_COMMANDS_ENABLED = "false"

# Debug settings
## Setting for saving cloud files locally (for debugging)
DEBUG_SAVE_CLOUD_FILES = "false"
## Setting for logging user IDs (for debugging)
DEBUG_LOG_USER_IDS = "false"